@media screen and (max-width: 680px) {

    /* global-styles */
    .container {
        width: 95%;
    }

    .cardContainer {
        width: 85%;
    }

    .shadow {
        box-shadow: none !important;
    }

    /* root */
    body {
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* header */
    .header {
        width: 100%;
    }

    .header .menuButton {
        display: block;
        padding: 0.6rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        background: #006B64;
        color: #fff;
        border: none;
        cursor: pointer;
    }

    .header .menuButton>span {
        top: 10px;
        right: 10px;
        font-size: 1.4rem;
        font-weight: 300;
    }

    .header .menu {
        display: none;
        position: absolute;
        top: 60px;
        right: 0;
        width: 100vw;
        height: max-content !important;
        padding: 1rem 0;
        background-color: #006B64;
    }

    .header .menu>ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    .header .menu>ul>li>a {
        color: #fff
    }


    .header .logo {
        max-width: 30vw;
    }

    .mainDivisor {
        display: none !important;
    }

    /* main */
    .main {
        flex-direction: column;
        height: auto !important;
        gap: 0 !important;

    }

    .cardsSection {
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
        column-gap: 4vw !important;
    }

    .card:first-of-type>form {
        flex-direction: column;
    }

    .card:last-of-type::before {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 10px);
        width: 80%;
        height: 1px;
        background: #006B64;
    }

    .card:last-of-type {
        margin-bottom: 5rem !important;
    }

    .card {
        position: relative;
        width: 100% !important;
        min-height: auto !important;
        min-width: 80% !important;
        /* margin-bottom: 2rem; */
        background-color: transparent !important;
        padding: 3rem 0 0 0 !important;
    }

    /* forms */

    .changeWidth {
        /* width: 80% !important; */
    }

    .form {
        align-items: center;
    }

    .formInformation::after {
        display: none;
    }

    #submitScheduleForm {
        align-items: center;
        margin-bottom: 4rem;
    }
    .formSchedule{
        margin: 0 !important;
    }

    .availableTimes {
        flex-direction: column;
        width: 100% !important;
    }

    .availableTimes>article {
        width: 90%;
    }

    .availableTimes .time {
        margin: 0.5rem 0;
        gap: 1rem;
        height: 40px;
    }

    .mobileButton {
        width: 75% !important;
    }
}

@media screen and (min-width: 680px) {
    .card {
        padding: 2rem 0;
    }
}