@media screen and (max-width: 960px) {
    
    .changeWidth {
        padding: 2rem;
    }

    body {
        height: auto !important;
        
    }
    
    .cardsSection {
        flex-direction: column !important;
        gap: 2rem;
        margin-bottom: 3rem;
    }
    .mainDivisor {
        display: none !important;
    }
}