.container {
    width: 80%;
}

.cardContainer {
    width: 75%;
    min-width: 285px;
}

.d-flex-row {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.open {
    display: block !important;
    transform-origin: top;
    animation: animate-div 0.3s;
}

.close {
    transform-origin: top;
    animation: animate-div-reverse 0.3s !important;
}

.openTimesForm {
    display: block !important;
    transform-origin: left;
    transition: all 0.3s ease-in-out;
}

.changeWidth {
    width: 800px !important;
    padding-left: 2rem;
}

.hidden {
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.formWidth {
    width: 350px !important;
}

.menuButton {
    display: none;
}

.shadow {
    box-shadow: 1px 4px 8px 0px rgba(0, 0, 0, 0.25);
}

.inactive {
    border-color: #d1d1d1 !important;
}



@keyframes animate-div {
    from {
        opacity: 0;
        transform: scaleY(0);
    }

    to {
        opacity: 1;
        transform: scaleY(100%);
    }
}

@keyframes animate-div-reverse {
    from {
        opacity: 1;
        transform: scaleY(100%);
    }

    to {
        opacity: 0;
        transform: scaleY(0);
    }
}