.header {
    display: flex;
    justify-content: center;
    background: #FFF;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.24);
    z-index: 1;
}

.header>div {
    display: flex;
    height: 60px;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: auto;
    height: auto;
    max-height: 100%;
}

.menu>ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.88px;
    gap: 1rem;
}

.menu>ul>li {
    padding: 1rem;
    position: relative;
    transition-property: none;
}

.menu>ul>li:hover {
    text-decoration-color: #006B64;
}

.menu>ul>li>a{
    cursor: pointer;
    text-decoration: none;
    color: #006B64;
}

.menu>ul>li>a:hover {
    text-decoration: underline;
}

a[aria-disabled="true"],
a[aria-disabled="true"]:hover {
    /* pointer-events: none !important; */
    cursor: default !important;
    color: #b1b1b1 !important;
    text-decoration: none !important;
    
}