* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-image: url('../assets/images/wave.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    min-height: 100vh;
}

